<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row padding-3">
        <div class="tablet:grid-col">
          <div class="logo-links">
            <a class="footer-logo media_link float-left padding-right-2" href="https://gsa.gov">
              {% asset GSA-logo.svg width="50" alt="GSA Logo" %}
            </a>
          Forms Service is a product of the <a href="https://www.gsa.gov/">General Services Administration.</a>
          </div>
        </div>
        <div class="tablet:grid-col"></div>
        
        <div class="tablet:grid-col">
          <ul class="add-list-reset">
            <li>Footer link</li>
            <li>Footer link</li>
            <li>Footer link</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>